body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    display: flex;
}


div.content {
  flex: 1;
  padding: 1rem;
  min-height: 100vh;
}

section.profile {
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 1rem;
}

div.profileInfo {
    display: flex;
    align-items: center;
    gap: 2rem; 
}

.profilePic {
    width: 8rem;      
    height: 8rem;      
    border-radius: 50%;
    object-fit: cover;  
    border: 1px solid #333; 
}

a.button {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
