body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0px;
}

.sidebar {
  margin: 0rem;
  padding: 0rem;
  width: 16rem;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 1rem;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #acabab;
  color: white;
}

div.content {
  margin-left: 16rem;
  padding: 1rem;
  height: 50rem;
}

section.profile {
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 1rem;
}

div.profileInfo {
    display: flex;
    align-items: center;
    gap: 2rem; 
}

.profilePic {
    width: 8rem;      
    height: 8rem;      
    border-radius: 50%;
    object-fit: cover;  
    border: 1px solid #333; 
}