body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    display: flex;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar {
  width: 16rem;
  background-color: #f1f1f1;
  position: static;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 1rem;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #acabab;
  color: white;
}

div.content {
  flex: 1;
  padding: 1rem;
  min-height: 100vh;
}

div.activity {
    padding: 2rem;
    width: 25%;
    height: 20rem;
    margin-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 1rem;
}

div.timeline {
    display: flex;
    gap: 1rem;
}

.footer {
    text-align: center;
    margin-top: 2rem;
}