body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    display: flex;
}

div.content {
  flex: 1;
  padding: 1rem;
  min-height: 100vh;
}

div.activity {
    padding: 2rem;
    width: 25%;
    height: 20rem;
    margin-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 1rem;
}

div.timeline {
    display: flex;
    gap: 1rem;
}

